.gradient-custom {
    /* fallback for old browsers */
    background: #e3e3e3;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
}

.html{
    overflow:hidden;
}