<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmmaWorkManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmmaWorkManagementProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand">
            <div class="container-fluid d-block">
                <div class="row">
                    <div class="navbarRight col-sm-8">
                        <div class="menu-btn">
                            <div class="hamburger-lines">
                                <span class="line line1"></span>
                                <span class="line line2"></span>
                                <span class="line line3"></span>
                            </div>
                        </div>
                        <div class="homeAction">
                            <div class="homeAction-container">
                                <a class="navbarHomeAction text-light" asp-area="" asp-controller="UserTask" asp-action="GetTodayUserTasks">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="navbarHomeActionImage" viewBox="0 0 16 16">
                                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="formSearcherAction">
                            <form asp-action="GetUserTasksByName" asp-controller="UserTask" method="post" class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name" style="margin-right: 5px;">
                                <button class="btn btn-outline-light navbarBtn" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="navbarLoginPartial col-sm-4">
                        <div class="addAction">
                            <div class="addAction-container">
                                <button type="button" class="btn" style="width: 100%;color: white;padding: 0;" onclick="openAddModal({url: '/UserTask/AddUserTask'})" data-toggle="ajax-modal" data-target="Modal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="navbarAddActionImage bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="addAction">
                            <div class="addAction-container">
                                <button type="button" class="btn profileActionButton" data-toggle="modal" data-target=".bd-example-modal-lg">
                                    <a class="navbarAddAction text-light btn-modal" asp-action="GetUserProfile" asp-controller="UserProfile">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="navbarAddActionImage bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                        </svg>
                                    </a>
                                </button>
                            </div>
                        </div>
                        <partial name="_LogoutPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <!--Modal-->
    <div class="modal fade" id="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@User.Identity.Name</h5>
                    <button type="button" class="btn btn-light modal_button" data-bs-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" style="color: #333;" width="20" height="20" fill="currentColor" class="navbarAddActionImage bi bi-plus-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->

    <div class="content">
        <main role="main" class="pb-3">
            <div class="menu">
                <nav>
                    <li><a class="menu-links" asp-controller="UserTask" asp-action="GetTodayUserTasks">Today</a></li>
                    <li><a class="menu-links" asp-controller="UserTask" asp-action="GetUpcomingUserTasks">Upcoming</a></li>
                    <li><a class="menu-links" asp-controller="UserTask" asp-action="GetOverdueUserTasks">Overdue</a></li>
                    <li><a class="menu-links" asp-controller="UserTask" asp-action="GetImportantUserTasks">Important</a></li>
                </nav>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>
    <script src="~/js/addModal.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
