@using Microsoft.AspNetCore.Identity


<a class="nav-link" asp-controller="Account" asp-action="Register"><b>Register</b></a>
<a class="nav-link" asp-controller="Account" asp-action="Login"><b>Login</b></a>
