@model UserProfileViewModel

<form method="post">
    <p>
        <label>Аватар</label>
        <input name="avatar" type="file" class="form-control" />
    </p>
    <p>
        <input type="submit" value="Добавить" />
    </p>
</form>