@model AccountUpdateViewModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Password recovery";
}

<form asp-action="PasswordRecovery" method="post" class="login">
    <span class="login_form__title">Password Recovery</span>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <span class="text__label">Email</span>
    <div class="wrap_input">
        <input name="Email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <span class="text__label">Password</span>
    <div class="wrap_input__password">
        <input name="Password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <span class="text__label">Password confirm</span>
    <div class="wrap_input__password">
        <input name="PasswordConfirm" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="buttons_container">
        <button type="submit" class="btn login_submit_button">Submit</button>
    </div>
</form>